{% extends 'movie/base.html' %}

{% load static %}
{% block head %}
<style>
    .folder-page {
        margin-top: 80px; /* Adjust for fixed navbar */
    }

    .sloganxbutton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 50px;
        text-align: center; 
    }

    .sloganxbutton button {
        border: none;
        border-radius: 3px;
        background-color: pink;
        height: 30px;
        transition: width 0.15s;
        cursor: pointer;
    }

    .sloganxbutton button:hover {
        width: 170px;
    }

    .slogan {
        font-size: 25px;
    }

    .about-folder {
        text-align: left;
        font-weight: bold;
       
        
    }

    .lists {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .folder-image {
        width: 100%;
        height: 229px;
        border-radius: 10px;
        transition: border 0.15s;
    }

    .folder-image:hover {
        border: 6.1px solid pink;
    }

    .folder-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .title {
        margin-top: 5px;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: left;
    }
    
    .title:hover {
        color: pink;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .info {
        display: flex;
        gap: 9px;
        cursor: pointer;
    }

    .user-image {
        width: 25px;
        height: 25px;
    }

    .user-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .stats-folder {
        height: 20px;
        width: 20px;
    }

    .stats-folder img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .poster {
        width: 254px;
        height: 130px;
    }

    .poster img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .recent-liked-text {
        text-align: left;
        font-weight: bold;
    }

    .rencently-liked {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .info-about-folder {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
    }

    .zex {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
</style>
{% endblock head %}

{% block title %}
Lists
{% endblock %}

{% block content %}
<div class="container">
    <div class="folder-page">
        <div class="sloganxbutton">
            <div class="slogan">Build your ultimate movie collection, one list at a time.</div>
            <button><a href="{% url 'folder-create' %}">Start your own list</a></button>
        </div>

        <div class="about-folder">Popular this week</div>

        <div class="lists">
            {% for folder in folders reversed %}
            <div class="list">
                <a href="{% url 'folder-detail' folder.user folder.slug %}">
                    <div class="folder-image">
                        <img src="{{ folder.image.url }}">
                    </div>
                    <div class="title">{{ folder.title }}</div>
                </a>
                <div class="info">
                    <div class="user-image"><img src="{{ folder.user.profile.image.url }}"></div>
                    <div>{{ folder.user }}</div>
                    <div class="stats-folder"><img src="{% static 'movie/images/filled_heart.svg' %}"></div>
                    <div>10</div>
                    <div class="stats-folder"><img src="{% static 'movie/images/filled_comment.svg' %}"></div>
                    <div>10</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="rencently-liked">
        <div class="recent-liked-text">Recently liked</div>
        <div class="info-about-folder">
            <div class="poster"><img src="{% static 'movie/images/wall.png' %}"></div>
            <div class="zex">
                <div class="title">Movies that everyone should watch! Even when the night turns gray!</div>
                <div class="info">
                    <div class="user-image"><img src="{% static 'movie/images/wall.png' %}"></div>
                    <div>aedan</div>
                    <div class="stats-folder"><img src="{% static 'movie/images/filled_heart.svg' %}"></div>
                    <div>10</div>
                    <div class="stats-folder"><img src="{% static 'movie/images/filled_comment.svg' %}"></div>
                    <div>10</div>
                </div>
                <div>Hello this is something somethingsome</div>
            </div>
        </div>

        <div class="info-about-folder">
            <div class="poster"><img src="{% static 'movie/images/wall.png' %}"></div>
            <div class="zex">
                <div class="title">Movies that everyone should watch! Even when the night turns gray!</div>
                <div class="info">
                    <div class="user-image"><img src="{% static 'movie/images/wall.png' %}"></div>
                    <div>aedan</div>
                    <div class="stats-folder"><img src="{% static 'movie/images/filled_heart.svg' %}"></div>
                    <div>10</div>
                    <div class="stats-folder"><img src="{% static 'movie/images/filled_comment.svg' %}"></div>
                    <div>10</div>
                </div>
                <div>Hello this is something somethingsome</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
