{% extends 'movie/base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'users/profile.css' %}">
{% endblock head %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<!-- Full-page background with gradient overlay -->
<div class="container-fluid g-0 vh-100 position-relative">
    <!-- Background Image -->
    <img src="{% static 'users/background-red.png' %}" class="img-fluid w-100 h-100 object-fit-cover" alt="Background">

    <!-- Transparent Profile Box -->
    <div class="position-absolute top-50 start-50 translate-middle w-90 w-md-50 mx-auto p-4 bg-transparent text-white rounded-4 shadow-lg">
        <div class="row align-items-center">
            <!-- Profile Image -->
            <div class="col-md-4 text-center mb-4 mb-md-0">
                <div class="profile-image-container">
                    <img src="{{ request.user.profile.avatar.url }}" class="rounded-circle img-fluid" alt="Profile Image" style="width: 150px; height: 150px; border: 3px solid #fff;">
                </div>
            </div>

            <div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
