{% extends 'movie/base.html' %}

{% load static %}
{% block title %}
Profile
{% endblock %}

{% block head%}
<style>

    .stack{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .stack div img{
        width: 140px;
        border: 1px solid blue;
        border-radius:70px;
    }

    .uxdxbutton .username{
        font-size: 30px;
        font-weight: bold;
    }
    .uxdxbutton{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }



</style>
{% endblock head %}



{% block content %}

<div class="stack">
    <div><img src="{{ request.user.profile.image.url }}"></div>
    <div class="uxdxbutton">
        <div class="username">{{request.user.username}}</div>
        <div>Joined {{ request.user.date_joined|date:"F Y" }}</div>
        <div><a href="{% url 'profile-edit' %}">Edit</a></div>
    </div>
    
</div>


{% endblock %}